.container {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 3rem;
}

.widgetblock {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.backlink {
  align-self: start;
  margin-bottom: 2rem;
}
