.wrapper {
  width: 100%;
  margin-top: 3rem;
  overflow-x: auto;
}

.grid {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media (max-width: 767px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
