.loading {
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.5s;
}

.hide {
  opacity: 0;
  top: 40px;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}
