.result {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 2rem);
  z-index: 10;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.result .list {
  max-height: 400px;
  overflow: auto;
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}

.result li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.result li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.result li a {
  display: block;
  padding: 1rem;
}

.name,
.country {
  margin: 0;
}

.notfound {
  padding: 1rem;
  margin: 2rem 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 1023px) {
  .area {
    max-width: 100%;
  }
}
